body {
  overflow: hidden;
}
.App {
  text-align: center;
  background-image: url('bg3.jpg');
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* background-position: 20% 20%; */
  width: 100%;
  height: 100vh;
  padding: 20px 0 0 0;
  /* transition: all 0.1s ease-out; */
}

.title {
  margin-bottom: 0 !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.keyboard {
  width: 92%;
  margin: -10px auto 0 auto;
}
.fastKeys, .fastVolume {
  margin: 45px auto 25px auto;
}


.enter {
  width: 40% !important;
}

.search {
  margin-top: 30px;
  margin-bottom: 46px;
}


#pad {
  width: 92%;
  margin: 25px auto 35px auto;
  position: relative;
  justify-content: space-between;

  
}

#mousePad {
  height: 50vh;
  border-radius: 6px;
  box-shadow: 1px 1px 20px rgba(0,0,0,0.25);
  /* background: rgba(2, 212, 204, 0.51);; */
  background: rgba(255, 255, 255, 0.66) !important;

}

.esc_btn {
  float: left;
  margin: -2px 0px 0px 11px !important;
}

.enter { 
  padding: .78571429em 2em 0.785714em !important;
  margin: 10px auto 0 auto !important;
  width: 94%;


}

.del {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0!important;
}

#scrollPad {
  position: absolute;
  right: 0;
  top: 0;
  height: 50vh;
  width: 25px;
  
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#scrollPad_horizontal {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0;
  right:0;
  height: 25px;
}

#scrollPad_horizontal > .left {
  position: absolute;
  top: 4px;
  left: 45.5%;
}
#scrollPad_horizontal > .right {
  position: absolute;
  top: 4px;
  right: 45.5%;
}

#scrollPad > .up {
  position: absolute;
  top: 45%;
  left: 4px;
  right: 0;
}

#scrollPad > .down {
  position: absolute;
  bottom: 45%;
  left: 4px;
  right: 0;
}

.keyboard > input { 
  background: rgba(255, 255, 255, 0.66) !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0!important;
      
}